<% if @planned_meal.errors.any? %>
  <div class="error">
  <ul>
  <% @planned_meal.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  </div>
<% end %>


<%= form_for @planned_meal do |f| %>
  <% if params[:recipe_id] %>
    <%= f.hidden_field :recipe_id %>
  <% else %>
    <div>
      <%= f.label :recipe_id, "Select a Recipe" %>
      <%= f.collection_select :recipe_id, @recipes, :id, :name, include_blank: true %>
    </div>
    <br>
  <% end %>
  <div>
  <%= f.label :date %>
  <%= f.date_select :date %>
  </div>
  <br>
  <div>
  <%= f.label :meal_type %>
  <%= f.select :meal_type, [ 'Breakfast', 'Morning Snack', 'Lunch', 'Afternoon Snack', 'Dinner', 'Late Night Snack' ], :prompt => 'Select One' %>
  </div>
  <br>
  <%= f.submit "Submit" %>
<% end %>
