<div class='nested-fields'>
  <div class='form-group'>
    <%= form.hidden_field :_destroy %>
    <div class="field">
    <%= i.label :quantity %>
    <%= i.text_field :quantity %>
    </div>
    <div class="field">
    <%= i.label :unit %>
    <%= i.text_field :unit %>
    </div>
    <div class="field">
    <%= i.label :item_name, 'Item' %>
    <%= i.text_field :item_name %> #find or create item
    </div>
    <div class="field">
    <%= i.label :notes %>
    <%= i.text_area :notes %>
    </div>
    <small>
      <%= link_to "Delete", "#", data: { action: "click->nested-form#remove_association" } %>
    </small>
  </div>
</div>
