<% if @recipe.errors.any? %>
  <ul>
  <% @recipe.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.label :prep_time %>
  <%= f.text_field :prep_time %>
  <br>
  <%= f.label :cook_time %>
  <%= f.text_field :cook_time %>
  <br>
  <%= f.label :serving_size %>
  <%= f.text_field :serving_size %>
  <br>
  <%= f.label :calories %>
  <%= f.text_field :calories %>
  <br>
  <!-- ingredients should be a secret separate form within this form?
  <%= f.label :ingredients %>
  <%= f.text_area :ingredients %>
  <br> -->
  <%= f.label :instructions %>
  <%= f.text_area :instructions %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
