<div class="recipe-header">
<h2><%= @recipe.name %></h2>
<span><%= link_to "+ edit recipe", edit_recipe_path(@recipe) if @recipe.author == current_user %></span>
<span><%= link_to "+ add to meal plan", new_recipe_planned_meal_path(@recipe) %></span>
</div>
<div>
    <p><i>Submitted by: <%= @recipe.author.username %></i></p>
</div>
<div>
 <p><%= @recipe.description %></div></p>
<div>
<p>
<% if @recipe.prep_time %>
Prep Time: <%= @recipe.prep_time %> minutes
<br>
<% end %>
<% if @recipe.cook_time %>
Cook Time: <%= @recipe.cook_time %> minutes
<br>
<% end %>
<% if @recipe.prep_time || @recipe.cook_time %>
Total Time: <%= @recipe.total_time %> minutes
<br>
<% end %>
<% if @recipe.serving_size %>
Serving Size: <%= @recipe.serving_size %>
<% end %>
<% if @recipe.calories %>
<br>
Calories: <%= @recipe.calories %>
<% end %>
</p>
</div>

<h4>Ingredients:</h4>
<ul>
<% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.quantity %> <%= ingredient.unit %> <%= ingredient.item_name %> <span class="notes"><%= ingredient.notes%></span></li>
  <% end %>
</ul>

<h4>Instuctions:</h4>
<ol>
<% @recipe.instructions.each do |instruction| %>
    <li><%= instruction.step %></li>
  <% end %>
</ol>

