<h1>Meal Planner</h1>

<h3>Let's start planning!</h3>
<p><%= link_to "Sign in with Google", "/auth/google_oauth2" %></p>
<p>-OR-</p>
<p>Create an account</p>
<%= form_tag "/auth/identity/register" do %>
  <div class="field">
  <%= label_tag :name, "Name:" %>
  <%= text_field_tag :name, @identity.try(name) %>
  </div>
  <div class="field">
  <%= label_tag :username, "Username:" %>
  <%= text_field_tag :username, @identity.try(username) %>
  </div>
  <div class="field">
  <%= label_tag :email, "Email:" %>
  <%= text_field_tag :email, @identity.try(email) %>
  </div>
  <div class="field">
  <%= label_tag :password, "Password:" %>
  <%= password_field_tag :password %>
  </div>
  <div class="field">
  <%= label_tag :password_confirmation, "Confirm Password:" %>
  <%= password_field_tag :password_confirmation %>
  </div>
  <div class="actions"><%= submit_tag "Sign Up" %></div>
<% end %>
<p>Already have an account? <%= link_to "Log in here.", login_path %></p>
